<div id="generator" style="display: none">
  <% if(path.includes("generate-question-view")){ %>
  <div id="question_generator_syllabus">

    SELECT SYLLABUS<br><br>
    <input type="radio" id="generator_ugc2015" name="generator_syllabus" onclick="display_generate_semester_form()"value="ugc2015" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
    <label for="generator_ugc2015" class="mr-8 text-sm font-medium text-gray-900  ">UGC 2015</label><br>
    <input type="radio" id="generator_ugc2018" name="generator_syllabus" onclick="display_generate_semester_form()" value="ugc2018" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
    <label for="generator_ugc2018" class="mr-8 text-sm font-medium text-gray-900  ">UGC 2018</label><br>
  </div>

    <br>
  <div id="question_generator_semester" style="display: none;">
    SELECT SEMESTER<br><br>
    <form action="#" id="generator_form"  onsubmit="return validate_question_generate()">
      <input type="radio" id="generator_sem_1" name="generator_semester"  value = "1" onclick="remove_paper_selection()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="generator_sem_1" class="mr-8 text-sm font-medium text-gray-900  ">1</label><br>
      <input type="radio" id="generator_sem_2" name="generator_semester"  value = "2" onclick="remove_paper_selection()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="generator_sem_2" class="mr-8 text-sm font-medium text-gray-900  ">2</label><br>
      <input type="radio" id="generator_sem_3" name="generator_semester"  value = "3" onclick="remove_paper_selection()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="generator_sem_3" class="mr-8 text-sm font-medium text-gray-900  ">3</label><br>
      <input type="radio" id="generator_sem_4" name="generator_semester" value = "4" onclick="remove_paper_selection()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="generator_sem_4" class="mr-8 text-sm font-medium text-gray-900  ">4</label><br>
      <input type="radio" id="generator_sem_5" name="generator_semester" value = "5" onclick="display_paper_selection()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="generator_sem_5" class="mr-8 text-sm font-medium text-gray-900  ">5</label><br>
      <input type="radio" id="generator_sem_6" name="generator_semester" value = "6" onclick="display_paper_selection()" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="generator_sem_6" class="mr-8 text-sm font-medium text-gray-900  ">6</label><br>
      <br><br>

      <div id="question_generator_paper_selection" style="display: none;"> 

        <input type="radio" id="paper_1" name="paper_selector" value = "paper_1" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
        <label for="paper_1" class="mr-8 text-sm font-medium text-gray-900  ">paper_1</label><br>
        <input type="radio" id="paper_2" name="paper_selector" value = "paper_2" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
        <label for="paper_2" class="mr-8 text-sm font-medium text-gray-900  ">paper_2</label><br>
      
    </div>
      <button class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">
        <input type="submit" value="Submit">
      </button>
    </form>
    
  </div>
  
  <!-- <div id="generate_button" style="display: none;">
    <a href="#" id="generate_question_paper">cgh </a>
  </div> -->

  <% }else if(path.includes("generate-questions")){%>
  <div id="generated_questions">
    <% if(locals.generator_mark_2_data){ %>

      <h3 class="text-xl font-bold text-center"> ST. JOSEPH'S COLLEGE(AUTONOMOUS)</h3>
      <h3 class="text-xl font-bold text-center">BANGALORE-27</h3>
      <h3 class="text-xl font-bold text-center">SEMESTER <%=sem%></h3>
      <h3 class="text-xl font-bold text-center">END SEMESTER EXAMINATIONS : JAN 2022</h3>
      <h3 class="text-xl font-bold text-center">PAPER CODE : <%=paper_code%></h3>

    <ul>
      <div class="font-semibold mt-11">2 MARK QUESTIONS</div><br>
      <% var i = 1; generator_mark_2_data.forEach(function(data){ %>
        
        <% if(data != undefined){ %>
          <div class="leading-10"><li><%=i%>. <%= data %></li></div>
        <% } else{ %>
          <li><%=i%>. NO QUESTIONS AVAILABLE</li>
        <% } %>

      <% i++; }) %>
    </ul>
    <br>

    <ul>
      <div class="font-semibold mt-11">6 MARK QUESTIONS</div><br>
      <% var i = 1; generator_mark_6_data.forEach(function(data){ %>
        
        <% if(data != undefined){ %>
          <div class="leading-10"><li><%=i%>. <%= data %></li></div>
        <% } else{ %>
          <li><%=i%>. NO QUESTIONS AVAILABLE</li>
        <% } %>

      <% i++; }) %>
    </ul>
    <br>

    <ul>
      <div class="font-semibold mt-11">10 MARK QUESTIONS</div> <br>
      <% var i = 1; generator_mark_10_data.forEach(function(data){ %>
        
        <% if(data != undefined){ %>
          <div class="leading-10"><li><%=i%>. <%= data %></li></div>
        <% } else{ %>
          <li><%=i%>. NO QUESTIONS AVAILABLE</li>
        <% } %>

      <% i++; }) %>
    </ul>
    <br><br>
    <% } %>
  </div>

  <button>
  <!-- <div  > 
    <a href="/teacher_page/generate-question-view">BACK</a> -->
  <div>
    <% if(path.includes("teacher_page")){ %>
      <a href="/teacher_page/generate-question-view" class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">BACK</a>
    <% } else { %>
      <a href="/student_page/generate-question-view" class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">BACK</a>
    <% } %>

    
  </div>
  </button> 
  <% } %>
  
</div>