<link rel="stylesheet" href="/css/teacher_page.css">


<div id="viewer" style="display: none">

  <% if(path.includes("view-questions-all")) { %>

  <!-- Selecting the filter  -->
  SELECT FILTER<br><br>
  <div id = "filter" class="flex">
    <div class="flex items-start mr-4">
      <input type="radio" id="syllabus_filter" name="filter" onclick="select_syllabus()" value="syllabus" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="syllabus_filter" class="mr-8 text-sm font-medium text-gray-900 ">Syllabus</label><br>
      <input type="radio" id="semester_filter" name="filter" onclick="select_semester()" value="semester"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="semester_filter" class="mr-8 text-sm font-medium text-gray-900 ">Semester</label><br>
      <input type="radio" id="chapter_filter" name="filter" onclick="display_search_box()" value="chapter"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
      <label for="chapter_filter" class="mr-8 text-sm font-medium text-gray-900 ">Chapter</label><br>
      <input type="radio" id="question_filter" name="filter" onclick="display_search_box()" value="question"  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="question_filter" class="mr-8 text-sm font-medium text-gray-900 ">Questions</label><br>
    </div>
  </div>

  <br>

  <!-- Syllabus radiobuttons -->
  <div id="syllabus" style="display:none ;">
    SELECT SYLLABUS<br><br>
    <form action="#" id="syllabus_form"  onsubmit="return validate_syllabus_and_semester()">
      <input type="radio" id="ugc2015" name="syllabus" value="ugc2015" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="ugc2015" class="mr-8 text-sm font-medium text-gray-900  ">UGC 2015</label><br>
      <input type="radio" id="ugc2018" name="syllabus" value="ugc2018" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="ugc2018" class="mr-8 text-sm font-medium text-gray-900  ">UGC 2018</label><br><br><br>
      <button class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">
        <input type="submit" value="Search">
      </button>
    </form>

  </div>

  <br>

  <!-- Semester radiobuttons -->
  <div id="semester" style="display:none ;">
    SELECT SEMESTER<br><br>
    <form action="#" id="semester_form"  onsubmit="return validate_syllabus_and_semester()">
      <input type="radio" id="sem_1" name="semester"  value = "1" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="sem_1" class="mr-8 text-sm font-medium text-gray-900  ">1</label><br>
      <input type="radio" id="sem_2" name="semester"  value = "2" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="sem_2" class="mr-8 text-sm font-medium text-gray-900  ">2</label><br>
      <input type="radio" id="sem_3" name="semester"  value = "3" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="sem_3" class="mr-8 text-sm font-medium text-gray-900  ">3</label><br>
      <input type="radio" id="sem_4" name="semester" value = "4" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="sem_4" class="mr-8 text-sm font-medium text-gray-900  ">4</label><br>
      <input type="radio" id="sem_5" name="semester" value = "5" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="sem_5" class="mr-8 text-sm font-medium text-gray-900  ">5</label><br>
      <input type="radio" id="sem_6" name="semester" value = "6" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"></input>
      <label for="sem_6" class="mr-8 text-sm font-medium text-gray-900  ">6</label><br>
      <br>
      <button class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">
      <input type="submit" value="Search">
      </button>
      <br><br><br>
    </form>
    
  </div>

  <!-- Search box for entering chapter and question  -->
  <div id="search_box" style="display: none;">

    <form action="#" id="search_form" onsubmit="return validate_chapter_and_question()">
      <label for="search_input">Search Entry:</label>
      <input type="text" id="search_input" name="search_input" class="border-2 border-gray-300">
      <button class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">
      <input type="submit" value="Search">
      </button>
    </form>
    <br><br>

  </div>

  <div class="text-black antialiased font-bold tracking-widest text-3xl">ALL QUESTIONS</div>

  <% } %> 
  
  <!-- Printing the tables -->
  <% if(locals.userdata){ %>
    
  <table class="table-auto border-double flex-auto">
    <tr>
      <th class="border px-4 py-2">syllabus</th>
      <th class="border px-4 py-2">semester</th>
      <th class="border px-4 py-2">chapter</th>
      <th class="border px-4 py-2">unit</th>
      <th class="border px-4 py-2">marks</th>
      <th class="border px-4 py-2">priority</th>
      <th class="border px-4 py-2">question</th>
      <% if(path.includes("teacher_page")){ %>
        <th class="border px-4 py-2">edit</th>
        <th class="border px-4 py-2">delete</th>
      <% } %>
    </tr>

    <% if(userdata.length!=0){ var i=1; userdata.forEach(function(data){ %>

      <td class="border px-4 py-2 text-center"><%=data.syllabus %></td>
      <td class="border px-4 py-2 text-center"><%=data.semester %></td>
      <td class="border px-4 py-2 text-center"><%=data.chapter %></td>
      <td class="border px-4 py-2 text-center"><%=data.unit %></td>
      <td class="border px-4 py-2 text-center"><%=data.marks %></td>
      <td class="border px-4 py-2 text-center"><%=data.priority %></td>
      <td class="border px-4 py-2 text-center"><%=data.question %></td>
      <% if(path.includes("teacher_page")){ %>
        <td class="border px-4 py-2 text-center hover:bg-slate-200"><a href="/teacher_page/edit-page/<%=data.id%>">Edit</a></td>
        <td class="border px-4 py-2 text-center hover:bg-slate-200"><a href="/teacher_page/delete-entry/<%=data.id%>">Delete</a></td>
      <% } %>
    </tr>
    <% i++; }) %> <% } else{ %>
    <tr>
      <td colspan="9">No Data Found</td>
    </tr>
    <% } %>
  </table>
  <% } %>

  <!-- Edit data  -->
  <% if(locals.edit_data){ %>

    <h3 class="text-lg">Edit the boxes to be modified</h3>
    <br><br>
    <a id="edit_id" style="display: none;"><%=edit_data.id %></a>  <!-- Dummy tag to hold id value(not visible on screen)-->
    <form action="#" id="submit_edit" onsubmit="return validate_question_edit()"  >
      <label for="edit_syllabus">syllabus:</label>
      <input type="text" id="edit_syllabus" name="edit_syllabus" value="<%=edit_data.syllabus %>" class="border-2 border-gray-400"> <br><br>
      <label for="edit_semester">semester:</label>
      <input type="number" min="1" max="6"  id="edit_semester" name="edit_semester" value="<%=edit_data.semester%>"  class="border-2 border-gray-400" ><br><br>
      <label for="edit_chapter">chapter:</label>
      <input type="text" maxlength="6" id="edit_chapter" name="edit_chapter" value="<%=edit_data.chapter %>" class="border-2 border-gray-400" ><br><br>
      <label for="edit_unit">unit:</label>
      <input type="number" min="1" max="5" id="edit_unit" name="edit_unit" value="<%=edit_data.unit %>" class="border-2 border-gray-400" ><br><br>
      <label for="edit_marks">marks:</label>
      <input type="number" min="2" max="10" id="edit_marks" name="edit_marks" value="<%=edit_data.marks %>" class="border-2 border-gray-400" ><br><br>
      <label for="edit_priority">priority:</label>
      <input type="number" min="1" max="3" id="edit_priority" name="edit_priority" value="<%=edit_data.priority %>" class="border-2 border-gray-400" ><br><br>
      <label for="edit_question">question:</label>
      <input type="text" id="edit_question" name="edit_question" value="<%=edit_data.question %>" class="border-2 border-gray-400" ><br><br>
      <button class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">
        <input type="submit" >
      </button>
    </form>
    <br><br>

    <button class="px-2 py-2 bg-slate-400 hover:bg-black font-bold cursor-pointer">
    <a href="/teacher_page/view-questions-all">BACK</a>
    </button>
  <% } %>
</div>
