<div id="viewer" style="display: none">

  <% if(path.includes("view-questions-all")) { %>

  <!-- Selecting the filter  -->
  <div id = "filter">
    SELECT FILTER<br><br>
    <input type="radio" id="syllabus_filter" name="filter" onclick="select_syllabus()" value="syllabus"></input>
    <label for="syllabus_filter">Syllabus</label><br>
    <input type="radio" id="semester_filter" name="filter" onclick="select_semester()" value="semester"></input>
    <label for="semester_filter">Semester</label><br>
    <input type="radio" id="chapter_filter" name="filter" onclick="display_search_box()" value="chapter" ></input>
    <label for="chapter_filter">Chapter</label><br>
    <input type="radio" id="question_filter" name="filter" onclick="display_search_box()" value="question"></input>
    <label for="question_filter">Questions</label><br>
  </div>

  <br>

  <!-- Syllabus radiobuttons -->
  <div id="syllabus" style="display:none ;">
    SELECT SYLLABUS<br><br>
    <form action="#" id="syllabus_form"  onsubmit="return validate_syllabus_and_semester()">
      <input type="radio" id="ugc2015" name="syllabus" value="ugc2015"></input>
      <label for="ugc2015">UGC 2015</label><br>
      <input type="radio" id="ugc2018" name="syllabus" value="ugc2018"></input>
      <label for="ugc2018">UGC 2018</label><br>
      <input type="submit" value="Search">
    </form>

  </div>

  <br>

  <!-- Semester radiobuttons -->
  <div id="semester" style="display:none ;">
    SELECT SEMESTER<br><br>
    <form action="#" id="semester_form"  onsubmit="return validate_syllabus_and_semester()">
      <input type="radio" id="sem_1" name="semester"  value = "1"></input>
      <label for="sem_1">1</label><br>
      <input type="radio" id="sem_2" name="semester"  value = "2"></input>
      <label for="sem_2">2</label><br>
      <input type="radio" id="sem_3" name="semester"  value = "3"></input>
      <label for="sem_3">3</label><br>
      <input type="radio" id="sem_4" name="semester" value = "4"></input>
      <label for="sem_4">4</label><br>
      <input type="radio" id="sem_5" name="semester" value = "5"></input>
      <label for="sem_5">5</label><br>
      <input type="radio" id="sem_6" name="semester" value = "6"></input>
      <label for="sem_6">6</label><br>
      <input type="submit" value="Search">
    </form>
    
  </div>

  <!-- Search box for entering chapter and question  -->
  <div id="search_box" style="display: none;">

    <form action="#" id="search_form" onsubmit="return validate_chapter_and_question()">
      <label for="search_input">Search Entry:</label>
      <input type="text" id="search_input" name="search_input" >
      <input type="submit" value="Search">
    </form>
    <br><br>

  </div>

  <% } %> 
  
  <!-- Printing the tables -->
  <% if(locals.userdata){ %>
    ALL QUESTIONS
  <table border="1">
    <tr>
      <th>syllabus</th>
      <th>semester</th>
      <th>chapter</th>
      <th>unit</th>
      <th>marks</th>
      <th>priority</th>
      <th>question</th>
      <th>edit</th>
      <th>delete</th>
    </tr>

    <% if(userdata.length!=0){ var i=1; userdata.forEach(function(data){ %>
    <tr>
      <td><%=data.syllabus %></td>
      <td><%=data.semester %></td>
      <td><%=data.chapter %></td>
      <td><%=data.unit %></td>
      <td><%=data.marks %></td>
      <td><%=data.priority %></td>
      <td><%=data.question %></td>
      <td><a href="/teacher_page/edit-page/<%=data.id%>">Edit</a></td>
      <td><a href="/teacher_page/delete-entry/<%=data.id%>">Delete</a></td>
    </tr>
    <% i++; }) %> <% } else{ %>
    <tr>
      <td colspan="9">No Data Found</td>
    </tr>
    <% } %>
  </table>
  <% } %>

  <!-- Edit data  -->
  <% if(locals.edit_data){ %>
    <p><%=edit_data.id%></p> 

    <h3>Edit the boxes to be modified</h3>
    <a id="edit_id" style="display: none;"><%=edit_data.id %></a>  <!-- Dummy tag to hold id value(not visible on screen)-->
    <form action="#" id="submit_edit" onsubmit="return validate_question_edit()"  >
      <label for="edit_syllabus">syllabus</label>
      <input type="text" id="edit_syllabus" name="edit_syllabus" value="<%=edit_data.syllabus %>"  ><br><br>
      <label for="edit_semester">semester</label>
      <input type="number" min="1" max="6"  id="edit_semester" name="edit_semester" value="<%=edit_data.semester%>"   ><br><br>
      <label for="edit_chapter">chapter</label>
      <input type="text" id="edit_chapter" name="edit_chapter" value="<%=edit_data.chapter %>"  ><br><br>
      <label for="edit_unit">unit</label>
      <input type="number" min="1" max="5" id="edit_unit" name="edit_unit" value="<%=edit_data.unit %>"  ><br><br>
      <label for="edit_marks">marks</label>
      <input type="number" min="2" max="6" id="edit_marks" name="edit_marks" value="<%=edit_data.marks %>"  ><br><br>
      <label for="edit_priority">priority</label>
      <input type="number" min="1" max="3" id="edit_priority" name="edit_priority" value="<%=edit_data.priority %>"  ><br><br>
      <label for="edit_question">question</label>
      <input type="text" id="edit_question" name="edit_question" value="<%=edit_data.question %>"  ><br><br>
      <input type="submit" >
    </form>
    <br><br>

    <a href="/teacher_page/view-questions-all">BACK</a>
  <% } %>
</div>
