<div id="viewer" style="display: none">
  <% if(path.includes("view-questions-all")) { %>
  <!-- <a href="#">syllabus</a>
  <a href="#">semester</a> -->
  <div id = "filter">
    SELECT FILTER<br><br>
    <input type="radio" id="syllabus_filter" name="filter" onclick="select_syllabus()" value="syllabus"></input>
    <label for="syllabus_filter">Syllabus</label><br>
    <input type="radio" id="semester_filter" name="filter" onclick="select_semester()" value="semester"></input>
    <label for="semester_filter">Semester</label><br>
    <input type="radio" id="chapter_filter" name="filter" ></input>
    <label for="chapter_filter">Chapter</label><br>
    <input type="radio" id="question_filter" name="filter" ></input>
    <label for="question_filter">Questions</label><br>
  </div>

  <br>

  <div id="syllabus" style="display:none ;">
    SELECT SYLLABUS<br><br>
    <input type="radio" id="ugc2015" name="syllabus" onclick="display_button()"value="ugc 2015"></input>
    <label for="ugc2015">UGC 2015</label><br>
    <input type="radio" id="ugc2018" name="syllabus" onclick="display_button()" value="ugc 2018"></input>
    <label for="ugc2018">UGC 2018</label><br>
  </div>

  <br>

  <div id="semester" style="display:none ;">
    SELECT SEMESTER<br><br>
    <input type="radio" id="sem_1" name="semester" onclick="display_button()" value = "1"></input>
    <label for="sem_1">1</label><br>
    <input type="radio" id="sem_2" name="semester" onclick="display_button()" value = "2"></input>
    <label for="sem_2">2</label><br>
    <input type="radio" id="sem_3" name="semester" onclick="display_button()" value = "3"></input>
    <label for="sem_3">3</label><br>
    <input type="radio" id="sem_4" name="semester" onclick="display_button()"value = "4"></input>
    <label for="sem_4">4</label><br>
    <input type="radio" id="sem_5" name="semester" onclick="display_button()"value = "5"></input>
    <label for="sem_5">5</label><br>
    <input type="radio" id="sem_6" name="semester" onclick="display_button()"value = "6"></input>
    <label for="sem_6">6</label><br>
  </div>

  <div id="filter_button" style="display:none ;">
    <a href="#" id="filtered_questions">kjclasbl</a>
  </div>

  <% } %> 
  
  ALL QUESTIONS

  <% if(locals.userdata){ %>
  <table border="1">
    <tr>
      <th>syllabus</th>
      <th>semester</th>
      <th>chapter</th>
      <th>unit</th>
      <th>marks</th>
      <th>priority</th>
      <th>question</th>
      <th>edit</th>
      <th>delete</th>
    </tr>

    <% if(userdata.length!=0){ var i=1; userdata.forEach(function(data){ %>
    <tr>
      <td><%=data.syllabus %></td>
      <td><%=data.semester %></td>
      <td><%=data.chapter %></td>
      <td><%=data.unit %></td>
      <td><%=data.marks %></td>
      <td><%=data.priority %></td>
      <td><%=data.question %></td>
      <!-- <td><a href="/users/edit/<%=data.id%>">Edit</a></td>
            <td><a href="/users/delete/<%=data.id%>">Delete</a></td> -->
      <td><a href="#">Edit</a></td>
      <td><a href="#">Delete</a></td>
    </tr>
    <% i++; }) %> <% } else{ %>
    <tr>
      <td colspan="9">No Data Found</td>
    </tr>
    <% } %>
  </table>
  <% } %>
</div>
